@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------- common property -------- */
.pf-title, .strength-title, .prof-title, .contact-title {
  text-align: center;
  margin: 0px auto 8px;
  font-size: 32px;
  color: #000000;
}

.pf-border, .strength-border, .prof-border, .contact-border {
  width: 70px;
  margin: auto;
  border-bottom: 3px solid #ec715f;
}

.pf-text, .strength-text, .prof-text, .contact-text {
  text-align: center;
  margin: 30px auto;
  font-size: 16px;
  color: #000000;
}

/* -------- header -------- */
header {
  height: 70px;
  width: 100%;
  background: #ec715f;
}

.header-area {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 1024px;
  margin: 0 auto;
}

.logo {
  height: 70px;
}

.nav-list-item {
  list-style: none;
  float: left;
  margin: 0 30px;
  line-height: 70px;
  font-size: 12px;
}

.nav-list-item > a {
  text-decoration: none;
  color: #fafafa;
}

.nav-list-item > a:hover {
  text-decoration: underline;
  color: blue;
}

/* -------- main visual -------- */
main {
  width: 100%;
}

#main-visual {
  width: 100%;
  height: 650px;
  position: relative;
}

.mv-wrap {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translatex(-50%);
  text-align: center;
}

.mv-title {
  color: #fafafa;
  font-size: 64px;
}

.mv-text {
  margin-top: 10px;
  color: #fafafa;
  font-size: 20px;
}

/* -------- portfolio -------- */
#portfolio {
  width: 100%;
  background-color: #eceff1;
}

.pf-wrap {
  width: 920px;
  margin: 0 auto;
  padding: 90px 0;
}

.pf-items {
  display: flex;
  flex-wrap: wrap;
}

.pf-item1, .pf-item2, .pf-item3, .pf-item4, .pf-item5, .pf-item6 {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.pf-item1 {
  background-image: url(../img/sketch.jpg);
  margin: 0 10px 10px 0;
}

.pf-item2 {
  background-image: url(../img/websuku.png);
  margin: 0 10px 10px 0;
}

.pf-item3 {
  background-image: url(../img/write.jpg);
  margin-bottom: 10px;
}

.pf-item4 {
  background-image: url(../img/webcamp.png);
  margin: 0 10px 10px 0;
}

.pf-item5 {
  background-image: url(../img/talk.jpg);
  margin: 0 10px 10px 0;
}

.pf-item6 {
  background-image: url(../img/webcamp-mother.png);
  margin-bottom: 10px;
}

/* -------- feature -------- */
#feature {
  width: 100%;
}

.strength-wrap {
  width: 980px;
  margin: 0 auto;
  padding: 90px 0;
}

.strength-inner {
  display: flex;
  flex-wrap: wrap;
}

.strength-icon {
  text-align: center;
  font-size: 60px;
}

.strength-head {
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  color: #000000;
}

.strength-detail {
  font-size: 16px;
  color: #000000;
}

.strength-content1, .strength-content2, .strength-content3 {
  width: 320px;
}

.str-box2 {
  margin: 0 10px;
}

/* -------- profile -------- */
#profile {
  width: 100%;
}

.prof-wrap {
  width: 1024px;
  margin: 0 auto;
  padding: 90px 0;
}

.prof-inner {
  display: flex;
  flex-wrap: wrap;
}

.my-image {
  width: 512px;
  text-align: center;
}

.my-icon {
  width: 250px;
  height: 250px;
  border-radius:50%;
}

.introduction {
  width: 512px;
}

.name-box {
  padding-bottom: 20px;
}

.name, .skills {
  margin-bottom: 5px;
  font-size: 20px;
  color: #f000000;
}

.name-text, .skills-text {
  font-size: 16px;
  color: #f000000;
}

/* -------- contact -------- */
.contact-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 90px 0;
}

.contact-method {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
  /*margin: auto;*/
}

.method-1, .method-2 {
  width: 400px;
  margin: auto;
}

.mail-area, .tel-area, .sns-area {
  /*margin: auto;*/
}

.area-title {
  margin-bottom: 5px;
  font-size: 20px;
}

.area-text {
  text-decoration: underline;
}

.sns-icon {
  float: left;
  padding: 5px 20px 0 0;
  font-size: 50px;
}

/* -------- footer -------- */
.footer {
  width: 100%;
  height: 60px;
  background-color: #ec715f;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  color: #fafafa;
}

/* -------- media queries -------- */
@media screen and (max-width: 767px) {

}