@charset "UTF-8";

/*-------- base styling --------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  color: #000000;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

/*-------- reusable class --------*/
.section-title {
  padding-top: 90px;
  text-align: center;
  font-size: 32px;
}

.section-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0;
  background-color: #ec715f;
}

.section-text {
  text-align: center;
  margin: 30px auto 0;
  font-size: 16px;
}

/*-------- header --------*/
header {
  width: 100%;
  height: 70px;
  background: #ec715f;
}

.header-group {
  display: flex;
  justify-content: space-between;
  width: 1024px;
  height: 100%;
  margin: 0 auto;
}

.logo {
  height: 70px;
}

.nav-list-item {
  list-style: none;
  float: left;
  margin: 0 30px;
  line-height: 70px;
  font-size: 16px;
}

.nav-list-item a {
  text-decoration: none;
  color: #fafafa;
}

.nav-list-item a:hover {
  text-decoration: underline;
  color: blue;
}

/* -------- main visual -------- */
#main-visual {
  width: 100%;
  height: 650px;
  text-align: center;
  color: #fafafa;
  background-image: url(../img/mv.png);
  background-size: cover;
  background-position: center;
}

.mv-title {
  padding-top: 200px;
  font-size: 64px;
}

.mv-text {
  margin-top: 10px;
  font-size: 20px;
}

/* -------- portfolio -------- */
#portfolio {
  background-color: #eceff1;
}

.pf-production-group {
  display: flex;
  flex-flow: row wrap;
  width: 920px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.production {
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
}

.production:nth-child(3n) {
  margin-right: 0;
}

.production:nth-child(-n+3) {
  margin-top: 0;
}

.bg-1 {
  background-image: url(../img/sketch.jpg);
}

.bg-2 {
  background-image: url(../img/websuku.png);
}

.bg-3 {
  background-image: url(../img/write.jpg);
}

.bg-4 {
  background-image: url(../img/webcamp.png);
}

.bg-5 {
  background-image: url(../img/talk.jpg);
}

.bg-6 {
  background-image: url(../img/webcamp-mother.png);
}

/* -------- feature -------- */
.strength-group {
  display: flex;
  flex-wrap: wrap;
  width: 980px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.strength {
  text-align: center;
  width: 320px;
  margin-right: 10px;
}

.strength:last-child {
  margin-right: 0;
}

.strength-icon {
  display: inline-block;
  text-align: center;
  font-size: 60px;
}

.strength-title {
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}

.strength-text {
  font-size: 16px;
}

/* -------- profile -------- */
#profile {
  background-color: #eceff1;
}

.prof-group {
  display: flex;
  flex-wrap: wrap;
  width: 1024px;
  padding: 30px 0 90px 0;
}

.prof-left-area {
  width: 512px;
}

.my-image {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius:50%;
  background-image: url(../img/my-icon.jpg);
}

.prof-right-area {
  width: 512px;
}

.content-title {
  margin: 20px 0 5px 0;
  font-size: 20px;
}

.content-title:first-child {
  margin-top: 0px;
}

.content-text {
  font-size: 16px;
}

/* -------- contact -------- */
.contact-group {
  display: flex;
  width: 800px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.contact-left-area, .contact-right-area {
  width: 400px;
}

.left-area-content {
  width: 200px;
  margin: 0 auto;
}

.content-title {
  margin: 20px auto 5px;
  font-size: 20px;
}

.content-title:first-child {
  margin-top: 0;
}

.content-text {
  text-decoration: underline;
}

.right-area-content {
  width: 200px;
  margin: 0 auto;
}

.content-icon {
  float: left;
  margin: 0px 20px 0 0;
  font-size: 50px;
}

.content-icon:last-child {
  margin-right: 0;
}

/* -------- footer -------- */
.footer {
  width: 100%;
  height: 60px;
  background-color: #ec715f;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  color: #fafafa;
}

/* -------- media screen --------*/
@media screen and (max-width: 768px) {
 /*-------- Header --------*/
  .container {
    width: 90%;
  }

  header {
    height: 50px;
  }

  .logo {
    height: 50px;
  }
/*-------- Main visual --------*/
  #main-visual {
    background-image: url(../img/code.png);
  }

  .mv-title {
    font-size: 40px;
  }

  .mv-text {
    margin-top: 10px;
    font-size: 18px;
  }

  /*-------- Portfolio --------*/
  .pf-production-group {
    width: 300px;
  }

  .production {
    margin-top: 10px;
    background-size: cover;
    background-position: center;
  }

  .sp-none {
    display: none;
  }

  /* -------- Feature -------- */
  .strength-group {
    width: 320px;
  }

  .strength {
    margin-top: 10px;
    margin-right: 0;
  }

  .strength:first-child {
    margin-top: 0;
  }

  /* -------- Profile -------- */
  .prof-group {
    /*width: 512px;*/
    width: 50%;
    margin: 0 auto;
  }

  .prof-left-area {
    width: 100%;
  }

  .my-image {
    margin-bottom: 20px;
  }

  .prof-right-area {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  .content-text {
    text-align: center;
  }

  /* -------- Contact -------- */
  .contact-group {
    flex-wrap: wrap;
    /*width: 400px;*/
    width: 50%;
    text-align: center;
  }

  .contact-left-area, .contact-right-area {
    width: 400px;
    /*width: 50%;*/
  }

  .right-area-content {
    margin-top: 20px;
  }

  .content-icon {
    float: left;
    margin: 0px 20px 0 0;
    font-size: 50px;
  }
}